# Database settings
DB_HOST=localhost
DB_USER=root
DB_PASS=pass
DB_NAME=spotify_db

# Filepaths
#   Spotify Extended Streaming History
HISTORY_JSON_GLOB=raw_data/spotify/Spotify Extended Streaming History/Streaming_History_Audio_*.json
#   Spotify YourLibrary
LIBRARY_JSON=raw_data/spotify/Spotify Account Data/YourLibrary.json
#   Spotify Identity
IDENTITY_JSON=raw_data/spotify/Spotify Account Data/Identity.json
#   Log directory
LOG_DIR=logs
#   Audio dir
AUDIO_DIR=raw_data/audio

# Features
SPOTDL_BATCH_SIZE = 10
